
  <!--CSS-->
  <link rel="stylesheet" href="/css/style.css">
  
  <div class="container">
    <div class="heading-content">
      <h1>Welcome to Tejash's Blog</h1>
      <a href="/add-blog"><button class="add-blog"><i class="fa-solid fa-circle-plus"></i>Add Blog</button></a>
    </div>
    

    <% BlogPost.slice().reverse().forEach( i => { %>
    
    <div class="blog-post">
      
      <div class="heading-info">
        <h2 class="blog-heading"> <%= i.blogTitle %> </h2>
        <% if(locals.user){ %>
          <a href="/delete-blog?id=<%= i.id %>" class="blog-delete"><i class="fa-solid fa-trash-can"></i></a>
        <%} %>
      </div>
      
      <div class="blog-action">
        
        <a href="/liked-blog?id= <%= i.id %>" class="blog-like"><i class="fa-<%= Like %> fa-heart"></i></a>
        <p class="blog-date"> <%= i.blogDate %> </p>
        
      </div>
      <p class="blog-content"> <%= i.blogContent %> </p>
      <a class= "read-more" href="/view-blog?id=<%= i.id %>">Read more..</a>
      <h4 class="blog-author"> By - <%= i.blogAuthor %> </h4>
    
    </div>
    <% })%>
  
  </div>
 
 

  
 
